<%# root_path %>

<h1>This is where you see a list of articles</h1>
<p>... And also if you'd like to edit or create some new ones!</p>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %><br />
    </li>
  <% end %>
</ul>