<h1>A breaking news item</h1>
<p>Some really breaking action</p>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %><br />
    </li>
  <% end %>
</ul>