<%# article_path %>

<%# Controls the padding so the page is responsive %>
<div class="row" syle="padding-top:10%;">
<div cladd="col"></div>
<div class="col-md-11 text-center">

<%# This is our articles text %>
<h1>The News Room</h1>
<p>Below you'll view the entire article that you just clicked on.</p>
<br>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.content %>
</p>
 
<%= link_to 'Back', articles_path %>
<%= link_to 'Edit', edit_article_path %>
