@import "bootstrap";

body { 
    background-image: image-url('bg1.jpg');
    background-size: cover;
}

.container {
    padding-top: 200px;
}

.row {
   font-size: 25px;
   color: gray;
}

.wrapper {
    color: gray;
}